.chat-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $height-chat-bottom;
  color: $color-font-chat-bottom;
  text-shadow: $text-shadow-chat-bottom;
}

.chat-input-container {
  @include lighten-gradient($color-chat-bottom-background);

  height: $height-chat-input-container;
  line-height: $height-chat-input-container;
  padding: 0 $padding-chat-bottom;
  border-top: 1px solid $color-border-light;
  box-shadow: 0 -1px 0 $color-border;
}

.chat-input-label {
  @extend .pull-left;
  @extend .center-align;

  padding-right: $padding-chat-bottom;
}

.chat-input {
  overflow: hidden; // respect block formatting context
  font-family: $font-family-code;
}

.chat-stats {
  @include lighten-gradient($color-chat-bottom-background);

  height: $height-chat-stats;
  line-height: $height-chat-stats;
  padding: 0 $padding-chat-bottom;
  border-top: 1px solid $color-border-light;
  box-shadow: 0 -1px 0 $color-border;
}

.chat-stats-info {
  @extend .center-align;

  padding: 0 $space-xl;
  border-left: 1px solid $color-border-light;
}