.login-overlay {
  @extend .fill-width;
  @extend .center-align;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.login-container {
  @include lighten-gradient($color-login-background);

  display: inline-block;
  padding: $space-xs;
  width: $min-width-app * .75;
}

.login-input {
  @extend .fill-width;

  color: black;
  margin-top: -1px;
  height: $height-chat-input;
  padding: $padding-chat-bottom;
  border: 1px solid $color-border;
  box-shadow: 0 .5px 0 $color-border-light;
}

.login-list {
  @extend .compact-list;
  @extend .left-align;

  color: $color-login-list;
  padding: $space-xs 0;

  & > li {
    &:first-child {
      border: 0;
      background-color: $color-login-selected-background;
    }

    padding: $space-xs $space-xs;
    box-shadow: 0 1px 0 $color-login-list-border-light;
    border-bottom: 1px solid $color-login-list-border;
  }
}