.message-list {
  @extend .fill-height;

  padding: $space-xs 0;
  position: relative;
  overflow: auto;

  background-color: $color-message-list-background;
  font-family: $font-family-code;
  color: $color-code;
}

.line {
  display: table-row;
  line-height: $message-line-height;
  text-indent: $space-xs;

  // highlight last line-number
  &:last-child > .line-number {
    background-color: $color-message-line-highlight;
  }
}

.line-number {
  @extend .right-align;
  display: table-cell;
  color: $color-message-line-number;
  padding: 0 $space-l;
}

.line-message {
  display: table-cell;
}