.text-comment {
  color: $color-message-comment;
}

.text-var, .text-function {
  font-style: italic;
  color: $color-message-var;
}

.text-argument {
  font-style: italic;
  color: $color-message-argument;
}

.text-operator {
  color: $color-message-operator;
}

.text-string {
  color: $color-message-string;
}

.text-number {
  color: $color-message-number;
}

.text-method {
  color: $color-message-method;
}

.text-indent {
  border-left: 1px dotted $color-border-light;
}