.user-list-container {
  @extend .fill-height;
  @extend .pull-left;

  background-color: $color-user-list-background;
  width: $width-user-list;
  overflow: auto;
  padding: $space-xs;
}

.user-list-title {
  @extend .no-click;
  color: $color-user-list-title;
  text-shadow: $text-shadow-user-list;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}

.folder {
  @extend .compact-list;
  // padding-left: 1em;

  & > li:first-child {
    @extend .no-click;

    &.closed {
      & > .icon-arrow {
        @extend .icon-arrow-right;
        color: $color-arrow;
        margin: 0;
        vertical-align: middle;

        // content: "\e603" ;
        // font-family: icomoon;
        // color: $color-arrow;
        // display: inline-block;
        // text-align:center;
        // width: 1em;
        // margin-left: -1em;
        // margin-top: -.25em;
        // vertical-align: middle;
      }

      & > .icon-folder {
        @extend .icon-folder-o;
        vertical-align: middle;
      }
    }

    &.open {
      & > .icon-arrow {
        @extend .icon-arrow-down;
        color: $color-arrow;
        margin: 0;
        vertical-align: middle;

        // content: "\e601";
        // font-family: icomoon;
        // color: $color-arrow;
        // display: inline-block;
        // text-align:center;
        // width: 1em;
        // margin-left: -1em;
        // margin-top: -.25em;
        // vertical-align: middle;
      }

      & > .icon-folder {
        @extend .icon-folder-open-o;
        vertical-align: middle;
      }
    }
  }
}

.folder-contents {
  @extend .no-click;
  @extend .compact-list;
  margin-left: 1em;
}