<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sublime Chat Editor</title>
  <meta name="description" content="Sublime Chat Editor is a chat application
  where chatting looks like productive coding.  Built with Node, Express,
  React, Flux Architecture and Socket.IO">
  <meta name="author" content="Michael Hon-Gen Chen">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/build/styles.css">
</head>
<body>
  <div id="app" class="fill">{{{body}}}</div>
  <script src="/build/scripts.js"></script>
</body>
</html>