.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Visibility
.invisible {
  visibility: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.hidden {
  @extend .hide;
  @extend .invisible;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// Dimensions
.fit-width {
  max-width: 100%;
}

.fit-height {
  max-height: 100%;
}

.fit {
  @extend .fit-width;
  @extend .fit-height;
}

.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill {
  @extend .fill-width;
  @extend .fill-height;
}

// Alignment
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.v-middle {
  vertical-align: middle;
}

.v-middle-helper {
  @extend .v-align-middle;
  @extend .fill-container-y;
  display: inline-block;
}

// Mouse
.link {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.no-click {
  cursor: default;
}

// Margin/padding
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

// Query styles
.no-mobile {
  @include MQ(mobile) {
    display: none;
  }
}

.no-desktop {
  @include MQ(desktop) {
    display: none;
  }
}