.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, .5);
}

.login-container {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  height: $height-login-container;
  width: $width-login-container;
  margin-left: -($width-login-container / 2);
  margin-top: -($height-login-container / 2);
  padding: $padding-login-container;
}

h1.login-title {
  @extend .center-align;
  @extend .no-margin;
  font-size: 2em;
  height: $height-login-title / 2;
  font-weight: bold;
}

.login-input {
  @extend .fill-width;
  height: $height-login-input;
}

.login-error {
  color: red;
  font-weight: bold;
  height: $height-login-error;
  line-height: $height-login-error;
}

.compact-list {
  list-style-type:none;
  margin:0;
  padding:0;
}

.chat-app {
  @extend .fill-height;
  position: relative;
  min-height: $height-chat-input * 2;
  min-width: $height-chat-input * 2;
  
  width: 100%;
}

.chat-display {
  @extend .fill-height;
  padding-bottom: $height-chat-input;
}

.message-list {
  @extend .compact-list;
  @extend .fill-height;
  @extend .pull-right;

  width: 80%;
  padding: $space-m;
  overflow-y: auto;
  word-wrap: break-word;
  
  & > li {
    margin: $space-s 0;
  }
}

.user-list {
  @extend .compact-list;
  @extend .fill-height;
  @extend .pull-left;

  width: 20%;
  padding: $space-m;
  overflow: auto;

  & > li {
    margin: $space-s 0;
  }
}

.chat-input {
  @extend .fill-width;

  position: absolute;
  left: 0;
  bottom: 0;
  height: $height-chat-input;
}